@font-face {
  font-family: 'Product Sans';
  src: url('fonts/Product Sans.ttf');
}
body{
  /*margin-right:0;*/
  font-family: 'Product Sans', sans-serif;
  background-color: black;
}

*,*:before,*::after{
  box-sizing: border-box;
}
/*-------------------------------------------       ABOUT US         ---------------------------------------------------------------*/


.counter::after{
  display: inline-block;
}
.aboutus .heading{
    font-family: "product-sans", sans-serif;
    letter-spacing: 2px;
    word-spacing:5px;

  }
  /*.aboutus .heading::after{
    position: relative;
    width:5%;
    display: block;
  
    content: "";
    border-bottom: 2px solid rgba(149, 182, 171, 1));
    top:10px;
    bottom: 0px;
    left: 630px;
 color: rgba(149, 182, 171, 1);

  }
  .aboutus .heading::before{
    position: relative;
    width:5%;
    display: block;
    border:2px solid red;
    content: "";
    border-bottom: 2px solid rgba(149, 182, 171, 1);
    top:57px;
    bottom: 0px;
    left: 660px;

  }*/
.aboutus{
	background-color: rgba(0, 0,0, 1);
color:rgba(149, 182, 171, 1);
        background-image: url(img/pattern/4.jpg );
background-attachment: fixed;
background-size: cover;
	
}
.aboutus .fa,.aboutus .fas,.aboutus .far{
	font-size: 40px;
 /*color: rgba(114, 168, 149, 1);*/
 /*color: rgba(63, 117, 98, 1);*/
 color: rgba(149, 182, 171, 1);
 

}

.aboutus .abouth{
	font-size: 30px;
  color:rgba(149, 182, 171, 1);
}

.aboutus .counter{
	font-size: 30px;
  color:rgba(149, 182, 171, 1);
}

.aboutus .aboutc{
	font-size: 20px;
  padding-bottom: 40px;
  color:rgba(149, 182, 171, 1);
}

 #stage img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 2s;
    animation-duration: 1s;
    z-index: 20;
  }
    #stage img:nth-of-type(2) {
    z-index: 10;
  }
     #stage img:nth-of-type(3) {
    z-index: 5;
  }
  /*#stage a:nth-of-type(n+3) {
    display: none;
  }*/
   @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }
  #scroll-to #stage img{
  	position: absolute;
  	border-radius: 20px;

  }
  .schedule .back .text{
    color: black;
    font-size: 30px;
  }
 .schedule .back{
  display: block;
  background-color: black;
  background-image: url("img/contact.jpg");
  background-attachment: fixed;
    background-size:cover;
    padding: 150px;
}
.schedule{
  padding-bottom:0px;
}
.schedule .bttn1{
  /*text-transform: uppercase;*/
  border:2px solid white;
  color:white;
  background:transparent;
  padding:13px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 4px;
  transition: all 0.5s linear;
}
.schedule .bttn1:hover{
  background-color: rgba(149, 182, 171, 1);
   padding-left: 45px;
  padding-right: 45px;
}
@media only screen and (min-width: 990px) {
  img{
    width:320px;
  }
}
@media only screen and (min-width: 1100px){
  img{
    width:360px;
  }
}

/*--------------------------------------------            ABOUT US ENDS                ----------------------------------------------*/

/*------------------------------------------------ video section ---------------------------------------------*/
.previous{
  background-color: rgba(0, 0, 0, 1);

  background-image: url("img/pattern/3.jpg");
  background-attachment: fixed;
  /*background-size:cover;*/
  /*color:#23c0e2 ;*/
        color:rgba(149, 182, 171, 1);

  padding-top: 0px;
}

.video{
  padding-top:0px;
  padding-bottom: 30px;
  
}

  .previoush{
    padding-top: 50px;
    font-family: "product-sans", sans-serif;
    letter-spacing: 2px;
    word-spacing:5px;
    padding-bottom: 40px;

  }
/*  .previoush::after{
    position: relative;
    width:5%;
    display: block;
    content: "";
    border-bottom: 2px solid #23c0e2 ;
    top:10px;
    bottom: 0px;
    left: 550px;
  }
  .previoush::before{
    position: relative;
    width:5%;
    display: block;
    content: "";
    border-bottom: 2px solid #23c0e2 ;
    top:57px;
    bottom: 0px;
    left: 580px;
  }*/
.previous .text{
  padding-top: 40px;
  font-family: "Product Sans", sans-serif;
  font-size:20px;
  text-align: left;
  letter-spacing: 1px;
 /*color:#23c0e2 ;*/
  color:rgba(149, 182, 171, 1);

  padding-bottom: 60px;
}

/*-------------------------------------- video section ends -----------------------------------------------------*/

/* *,*::before,*::after{
  display: block;
  margin:0;
 }*/
 .our-speakers{
        padding-top: 30px;
        background-color: black;
        background-image: url(img/pattern/4.jpg );
        color:white!important;
        margin:0;
        color:rgba(149, 182, 171, 1);
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 70px;
      }

/*
       .our-speakers-title{
  font-family: 'Product Sans', sans-serif;
  font-size: 36px;
  color: white;
  margin-left: 60px;
 
}*/
.our-speakers-title{
  font-family: "product-sans", sans-serif;
  letter-spacing: 2px;
  word-spacing:5px;
        color:rgba(149, 182, 171, 1);

  /*font-size: 36px;*/
  /*margin-left: 60px;*/



}
/*.our-speakers-title::after{
  position: relative;
  width:5%;
  display: block;
  content: "";
  border-bottom: 2px solid white;
  top:10px;
  bottom: 0px;
  left: 640px;
}
.our-speakers-title::before{
  position: relative;
  width:5%;
  display: block;
  content: "";
  border-bottom: 2px solid white;
  top:57px;
  bottom: 0px;
  left: 670px;
}
*/
.our-speakers-intro{
  font-size: 20px;
  color:rgba(149, 182, 171, 1);
  
  /*opacity: 0.5;*/
}

      /*.content{
        color:white;
        opacity: 0.5;
        font-size:20px;
      }*/
      
     /* .content1{
        color:white;
        opacity:0.3;
        font-size:15px;
      }*/

       .zoom {
        z-index: 0;
        
    display: inline-block;
  border-radius:15px 50px;
  overflow: hidden;
  /*background-color: grey;*/
  position: absolute;
  /*border: 1px solid ;*/
  height: 200px;
  width: 200px;
  /*margin: 10px;*/
    
  } 

.zoom img{
  /*display: inline-block;*/
  /*border-radius: 100%;*/
  /*border: 1px solid red ;*/
  transition: all 0.5s ease;
  position: relative;
  height: 100%;
  width: 100%;
  transform : scale(2.8) rotate(-90deg);
  z-index:0;
  filter: grayscale(0.8);
  /*overflow: hidden;*/
  }


.zoom:hover img{
  position: relative;
  height: 100%;
  width: 100%;
  z-index:-1;
  transform: rotate(-90deg) scale(2.8);
}
.zoom:hover .mask .social-link {
  opacity: 1;
  transform: translateY(-120px) translateX(-20px);
}
.zoom .mask{
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: black;
  
} 
.zoom .mask .social-link{
  display: inline-block!important;
  transform: translateX(-20px) translateY(4px);
  transition:all .9s cubic-bezier(.68,-.55,.265,1.55) .2s;
} 
.zoom .mask .contact a:link{
  color:black;
}
.zoom .mask .social-link a:hover{
  font-size: 20px;
  }
.zoom .mask .contact{
  color: black;
  display: block;
  /*line-height: 1px;*/
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
  transform: translateX(0px) translateY(-410px);
  transition:all .9s cubic-bezier(.68,-.55,.265,1.55) .2s;
} 
.zoom .mask .contact a::after{
  /*transition: translateX(100px);*/
  margin: 2px auto;
  display: block;
  content:"";
  width: 50%;
  border-bottom:1px solid black;
}
.zoom:hover .mask .contact{
  transform: translateX(0px) translateY(-170px);

} 
.zoom .grey{
  height: 100%;
  width:100%;
  background-color: rgba(255,255,255,0);

}
.grey::before{
              width:100%;
              opacity:0;
              height:100%;
              transform:scale(1,1);
              transition:all .5s linear;
              position:absolute;
              content:"";
              border-radius:15px 10px;
              border:3px solid #222;
              border-right:0 solid transparent;
              border-bottom:0 solid transparent;
              top:0;
              left:0;
           }

 .zoom:hover .grey::before{
                            top:15px;
                            left:15px;
                            opacity: 1;
                          }

  .grey::after{
                width:100%;
                opacity: 0;
                height:100%;
                transform:scale(1,1);
                transition:all .5s linear;
                position:absolute;
                content:"";
                border-radius:15px 10px;
                border:3px solid #222;
                border-top:0 solid transparent;
                border-left:0 solid transparent;
                bottom:0px;
                right:0px;
              }

 .zoom:hover .grey::after{  
                            bottom:15px;
                            right:15px;
                            opacity: 1;
                          }
  
  /*.zoom::before{}


  .zoom:hover .zoom::before{top:20px;
                                              left:20px}*/

.zoom:hover .grey{
  
  height: 100%;
  width:100%;
  background-color: rgba(255,255,255,0.4);
}
  .zoom .grey .social-link li a{                  color:#333;
                                                  width:30px;height:25px;
                                                  line-height:24px;
                                                  text-align:center;
                                                  border-radius:5px;
                                                  background-color:#fff;
                                                  padding:-5px 10px;
                                                  display: inline-block!important;
                                                  transition: all 0.1s linear;
                                                  }


ul{
  list-style-type: none;
}
ul li{
  display: inline-block!important;
  padding:10px;
}
.our-speakers .content{
  padding-left: -50px;
  padding-right:30px;
  font-size: 15px;
  color: rgba(149, 182, 171, 1);
  text-transform: uppercase;
}
@media only screen and (min-width: 990px){

  .our-speakers .content
  {
    padding-left: 40px;
    font-size: 15px;
    color: rgba(149, 182, 171, 1);
    text-transform: uppercase;
  }
}
.name{
   margin-top:210px; 
}
.designation{
  padding-top: 1px;
}
.name1{
  margin-top:210px;
  color: rgba(149, 182, 171, 1);
}
.designation1{
  padding-top: 1px;
  color: rgba(149, 182, 171, 1);
}

/* --------------------------     CONTACT US section -----------*/
.contact{
  background-color: black;
  color: rgba(149, 182, 171, 1);
  background-size: cover;
  padding-bottom: 80px;
  padding-top:80px;
}
.contact h1{
  text-align: center;
 /* color: white;*/
  opacity: 1;
}

.contact .left{
  /*color:white;*/
  opacity: 1;
}



.contact .right input,.contact .right textarea{
  /*color: white;*/
  font-family:Arial,FontAwesome;
  color:rgba(149, 182, 171, 1);
  background:transparent;
}

.contact .right .without-value1 label,.without-value2 label,.without-value3 label,.without-value4 label{
  opacity:0;
  transition: all 0.2s linear;
  transform: translateX(13px) translateY(25px);
}

.contact .right .with-value1 label{
  color:rgba(149, 182, 171, 1);
  font-size: 15px;
  opacity:1;
  transform: translateY(0px) translateX(13px);

}
.contact .right .bttn{
  border-width: 2px;
  transition: 500ms;
  padding: 2rem 3.75rem!important;
  background: none!important;
  border: none!important;
  border-radius: 0px!important;
  box-shadow: 0 0 0 3em inset rgba(149, 182, 171, 1);
  font-size: 20px;
  font-family: 'Product Sans', sans-serif;
  color:white;
}

.contact .right .bttn:hover{
  box-shadow: 0 0 0 0.12em inset black;
  color: rgba(149, 182, 171, 1);
}

.contact .left #map iframe{
  width:550px;
  height: 220px;
}

.contact .right .btn{
  margin-top: 70px;
}

.contact .left .fa{
  font-size: 30px;
  color:rgba(149, 182, 171, 0.3);
}

.contact .right .with-focus label {
  color:rgba(149, 182, 171, 1);;
}




.contact .left .fa{
  color:3b5998;
  transition: all 0.075s linear;
}

.contact .left .fa:hover{
  color:rgba(149, 182, 171, 1);
  font-size: 40px;
}

@media screen and (min-width:600px){
  .contact .left #map iframe{
    width:300px;
    height:120px;
  }
}

@media screen and (min-width:990px){
  .contact .left #map iframe{
    width:350px;
    height: 160px;
  }
}

@media screen and (min-width:1200px){
  .contact .left #map iframe{
    width:550px;
    height: 220px;
  }
}
/*
.scroll-link{
    position: absolute;
    right: 2.25%;
    top: 90%;
    transition: 600ms;
    cursor: pointer;
    text-transform: uppercase;
    transform: translate(0%, 0%) rotate(90deg);
    color: #fff;
  }

  .scroll-link i{
    cursor: pointer;
    font-size: 36px;
  }
*/
/*  .neeche{
    top: 93%;
    transition: 600ms;
  }

  .jabardasti{
    right: -2.5%;
    transition: 700ms;
  }*/
/*------------------------------------------- CONTACT US section ENDS  -----------------------------------------------------------*/
/*--------------------------------------------   sponsors and footer -------------------------------------------*/

#sponsors{
  background-image: url("img/pattern/1.png")

}

.sponsor-title{
  display: block;
  letter-spacing: 2px;
  word-spacing:5px;
  color: black;
  padding-top:10px;
  padding-bottom:10px;
}
.footer{
  padding-top:4px;
  background-color: black;
  color:white;
}
.footer-text{
  font-size: 19px;
}
.foot{
  padding-top: 80px;
  padding-bottom: 100px;
}
.heart,.author{
  color:rgba(149, 182, 171, 1);
}
.section-title{
  /*background-color: green;*/
  /*font-family: , sans-serif;*/
  /*font-size: 30px;*/
 

}


/* ------------------------------------- sponsors and footer ends -----------------------------------------------*/
