body{
	
	background-image: url("img/contact.jpg"); 
	background-color: red;
}

.zoom {
		display: block;
	border-radius:50%;
	overflow: hidden;
	/*border: 1px solid ;*/
	height: 100px;
	width: 100px;
  	
  }	

.zoom	img{
	border-radius: 100%;
	/*border: 1px solid red ;*/
	transition: all 0.5s ease;
	position: relative;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
	}


.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.zoom:hover img{
	transform: scale(1.4);
	/*overflow: hidden;*/

}
.zoom:hover .mask{
	opacity: 1;
	color: white;
	transform: translateY(-80px) translateX(40px);
}
.mask{
	opacity: 0;
	/*transform: translateY(30px);*/
	transition: all 1s ease;
	
}