canvas{
	position: fixed;
	z-index: 0;
	overflow: hidden;
}
h1{
	position: relative;
	color:red;
	text-align: center;
	z-index: 1;
}
img{
	position: relative;
	z-index: 1;
}
.social{
	position: relative;
	z-index: 2;
	transform: translateY(600px) translateX(-80px);
}
.fa{
	padding-bottom: 20px;
	color:#2F5045;
}
img{
	transform: translateY(-150px);
}
h2{
	transform: translateX(550px) translateY(-150px);
	text-transform: uppercase;
	color:#2F5045;
	letter-spacing: 3px;
	word-spacing: 5px;
}
